.div-main-show-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    margin-bottom: 2rem;
}
.div-show-picture {
    width: 95%;
    display: flex;
    justify-content: center;
}

.img-full {
    padding: .3rem;
    background-color: #fff;
    border: .1rem solid #dee2e6;
    /* border-radius: .25rem; */
    max-width: 99%;
    height: auto;
}

.div-comment-container {
    width: 95%;
    border: .1rem solid #cccccc;
    /* border-radius: .25rem; */
    padding: 1rem 0 1rem 0;
}

.comment-title {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0 0 .7rem .7rem;

}

.div-show-comment {
    margin: auto;
    width: 97%;
    border: .1rem solid #cccccc;
    margin-bottom: 1rem;
    padding-top: .3rem;
}

.comment-header {
    font-size: .9rem;
    font-weight: 500;
    padding: .5rem;
    color: #007bff;
    /* text-decoration: underline; */
}

.btn-delete-comment {
    height: 1.3rem;
    width: 4rem;
    background-color: #007bff;
    border: none;
    /* border-radius: .25rem; */
    font-size: .7rem;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-delete-comment:hover {
    background-color: #2b8ef8;
}

.line-comment {
    width: 40%;
    height: .05rem;
    border: none;
    margin: .3rem;
    background-color: #cccccc;
}

.comment-text {
    font-size: 1rem;
    font-weight: 500;
    padding: .5rem;
    color: #555555;
}

.comment-no {
    font-size: 1.1rem;
    font-weight: 500;
    padding: .5rem;
    color: #7c7c7c;
}

.div-add-comment {
    width: 95%;
    border: .1rem solid #cccccc;
    /* border-radius: .25rem; */
    padding: 1rem 0 1rem 0;
}

.comment-textarea {
    margin: .6rem 0 0 .7rem;
    width: 97%;
    font-size: 1rem;
    color: #495057;
    padding: .4rem;
    border: .1rem solid #cccccc;
    /* border-radius: .25rem; */
    resize: none;
    outline: none;
}

.btn-send {
    height: 2.5rem;
    width: 8rem;
    margin: .2rem .2rem .2rem .7rem;
    background-color: #007bff;
    border: none;
    /* border-radius: .25rem; */
    font-size: .8rem;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-send:hover {
    background-color: #2b8ef8;
}