.div-main-list-container {
    margin: 1rem 0 3rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
}

.div-picture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: .2rem;
    width: 30%;
    cursor: pointer;
}

.img-thumb {
    padding: .3rem;
    background-color: #fff;
    border: .1rem solid #dee2e6;
    /* border-radius: .25rem; */
    max-width: 100%;
    height: auto;
}

.btn-delete {
    height: 2rem;
    width: 5rem;
    margin: .2rem;
    background-color: #007bff;
    border: none;
    /* border-radius: .25rem; */
    font-size: .8rem;
    color: #ffffff;
    text-transform: uppercase;
}

.btn-delete:hover {
    background-color: #2b8ef8;
}

